<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Bsb2022", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="https://ui-components.drip.com/drip-styles.min.css"/>
    <link phx-track-static rel="stylesheet" href="https://d14jnfavjicsbe.cloudfront.net/assets/application-303e2b93d40c578d04e56d220209d5d5527c4b430a463299ad13d56bcce868e6.css"/>

    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
